<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WaifuLauncher.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WaifuLauncher.GlobalSettings>
            <setting name="LogDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultLogVerbosity" serializeAs="String">
                <value>Info</value>
            </setting>
            <setting name="WaifuLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LastWindowIsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastWindowIsMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastTargetFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDenoiseLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastTileSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastTileSizeAuto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastModelPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUpscaleRatio" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LastEnableTTAMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastOutputFormat" serializeAs="String">
                <value>png</value>
            </setting>
        </WaifuLauncher.GlobalSettings>
    </userSettings>
</configuration>